
.table-container {
    width: 80%;
    margin: auto; 
    text-align: center;
    
  }
  
  .add-btn {
    display: block;
    margin-top: 30px ;
    /* text-align: center; */
    font-size: 18px;
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  .updata-btn{  
    padding: 5px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 0px 4px;
  }
  
  .delete-btn{
    background-color: #f44336;
    padding: 5px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
    .delete-btn:hover{
    background-color: rgb(88, 82, 82);
   }
  


  
  form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    /* background: #ffffff; */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-controls {
    width: 100%;
    padding: 10px;
    /* margin-top: 15px; */
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .btn {
    /* width: %; */
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color:green;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
  }
  
  button:hover {
    background-color: green;
  }
  
  @media (max-width: 768px) {
    form {
      width: 80%;
    }
  }
  